<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Відгуки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header" ></header>

<div class="container mt-5">
    <h1>Відгуки</h1>
    <div th:each="el : ${revs}" class="alert alert-info mt-2">
        <h3 th:text="${el.shortt} " class="text-dark"/>
        <p th:text="${el.full_rev}" class="text-dark"/>

        <form th:action="'/rev/'+ ${el.id2} + '/remove'" method="post">
            <button class="btn btn-outline-danger" type="submit">Видалення</button>
        </form>
    </div>
</div>

<footer th:insert="blocks/footer :: footer" ></footer>
</body>
</html>