<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Терапія</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header" ></header>

<div class="container mt-5">
    <h1>Діагностика</h1>
    <p class="fw-light fs-5"> Санаторій “Перлина Дніпра” спільно з відомою медичною лабараторією  HemoMedika  пропонує  сучасну лабораторну діагностику організму згідно зі світовими стандартами,  контроль якості європейського зразка та оперативність отримання результатів. </p>
    <form>
        <input type="button" value="Переглянути" class="btn btn-outline-success" onClick='location.href="https://hemomedika.com.ua/analyzes"'><br><br>
    </form>
    <h2>Терапія</h2>
    <p class="fw-light fs-4"> Санаторій «Перлина Дніпра»  надає лікувальні послуги з оздоровлення людям, що страждають на захворювання:<br>
        – серцево-судинної<br>
        – нервової<br>
        – дихальної систем<br>
        – органів руху та опори<br>
        – шлунково-кишкового тракту<br><br>

        Для цього  в оздоровниці  існує великий спектр як традиційних, класичних, так і народних методів лікування. Колектив курорту набув чималого досвіду в оздоровленні жителів із забруднених радіаційних зон, тому особлива увага приділяється безмедикаментозним методикам. Широко використовується фітотерапія, створений та  гарно оформлений місцевими умільцями фітобар. Тут готують відвари з лікувальних трав, вітамінні компоти, морси, свіжовичавлені соки, лікувальні настоянки. Функціонує відділення фітопаротерапії, так звана фітодіжка, – цілюща комплексна методика оздоровлення та самозцілення організму. Є ще в санаторії  інфрачервона термокамера та фінська сауна. А скільки задоволення й користі приносить лікування нагрітим житом та загальні обгортання. В якості  немедикаментозних методів лікування  в санаторії успішно використовується гірудотерапія – лікування медичними п`явками та бджоловжалення – лікування апітоксином.<br><br>

        При захворюваннях опорно-рухового апарату, нервової системи, органів травлення і сечостатевої сфери розроблені ефективні методики грязе- та глинолікування.<br><br>

        Враховуючи, що переважна більшість людей сьогодні  потерпають від стресових ситуацій та їх наслідків у вигляді різних розладів центральної нервової системи, їх реабілітацію в санаторії проводять  із застосуванням процедур апітерапії, стоунтерпії, аромотерапії та ін.<br><br>

        Велике значення в реабілітаційних комплексах мають методики водолікування. Так,в бальнеологічному відділенні широко застосовується йодобромні розсоли місцевого родовища, а також перлинні, сольові, ароматичні, хвойні, бішофітові, озонові, вуглекислі ванни та ін. Велике задоволення викликає у пацієнтів лікувальне плавання. В басейні знаходиться спеціально обладнаний “водопад” для масажу хребта, а також вмонтовані  форсунки для підводного  масажу тіла та ступнів.  До послуг відпочиваючих два кабінети підводного душу-масажу та процедури  гідрокінезотерапії в басейні з  йодобромною водою.<br><br>

        За сучасними технологіями побудована з соляних блоків спелеокамера, де лікувальним чинником слугує  мікроклімат соляних шахт, який є незамінним для лікування органів дихання та серцево-судинної системи.<br><br>

        Окрасою санаторію є свої цілющі джерела мінеральної води. З одного джерела отримуємо йодобромну воду з мінералізацією 37 гр. солей на 1 літр рідини, вказана вода застосовується у вигляді ванн при комплексному  лікуванні захворювань серцево-судинної та периферійної нервової системи, а також при захворюваннях опорно-рухового апарату. Корисна вона також при запаленнях жіночих статевих органів, урологічних та деяких захворюваннях шкіри. Друге джерело – хлоридно-натрієва вода, її мінералізація становить 10 грамів солей на літр води. Ця вода подібна до Миргородської, але тут вона навіть міцніша, її п’ють ті, хто страждає на хронічні гастрити з нормальною та пониженою секреторною функцією, хронічні коліти неспецифічного характеру, панкреатити, а також при інших захворюваннях органів травлення. Для цього в санаторії створений сучасний бювет .<br><br>

        В оздоровниці працюють лікарі переважно вищої та першої категорії. Серед них терапевт, невропатолог, кардіолог, гастроентеролог, дієтолог. Крім того, пацієнтів  консультують уролог, гінеколог, отоларинголог, окуліст, рефлексотерапевт, нейрофізіолог, лікар-лаборант, лікар ультразвукової діагностики, травматолог, психолог.<br><br>

        Для високоякісного провадження лікувального процесу в санаторії працює клініко-діагностична лабораторія.<br><br>

        Сучасне медичне обладнання, лікарі та медичні сестри найвищої кваліфікації дозволяють утримувати лікувальний і діагностичний процес на найвищому рівні. Разом з тим колектив оздоровниці постійно працює над вдосконаленням лікувального процесу та підвищенням якості надання послуг.</p>
</div>
<footer th:insert="blocks/footer :: footer" ></footer>
</body>
</html>