<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Проживання</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header" ></header>

<div class="container mt-5">
    <div th:each="el : ${text}" class="alert alert-light mt-2">
        <h1 th:text="${el.title}" class="text-dark"/>
        <p th:text="${el.full_text}" class="text-dark"/>
        <a th:href="'/product/'+ ${el.id} +'/edit'" class="btn btn-outline-warning">Редагувати</a><br><br>
        <form th:action="'/product/'+ ${el.id} + '/remove'" method="post">
            <button class="btn btn-outline-danger" type="submit">Видалення</button>
        </form>
    </div>
</div>

<footer th:insert="blocks/footer :: footer" ></footer>
</body>
</html>